<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="carpinteria.Properties.Settings.carpinteria_dbConnectionString"
            connectionString="Data Source=DESKTOP-2J6U5V5\SQLEXPRESS01;Initial Catalog=carpinteria_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>